@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

@include m.tablet {
  .nav-wrap {
    flex-direction: column;
    justify-content: center;
    padding: 18px 0;
  }

  .site-header {
    position: relative;
  }

  .nav-list {
    gap: 14px 20px;
    justify-content: center;
  }

  .hero {
    grid-template-columns: 1fr;
    padding-top: 70px;
  }

  .hero-visual {
    min-height: 470px;
  }

  .split-section,
  .skills-section,
  .journey-section {
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 85px 0;
  }

  .section-label {
    padding-top: 0;
  }

  .about-grid,
  .skills-content,
  .journey-content,
  .projects-heading,
  .contact-card {
    grid-template-columns: 1fr;
  }

  .education-card {
    grid-template-columns: 1fr;
    padding: 38px;
  }

  .education-mark {
    text-align: left;
  }

  .hobby-card {
    grid-template-columns: 60px 1fr;
  }

  .hobby-number {
    display: none;
  }

  .contact-card {
    padding: 45px;
  }
}

@include m.mobile {
  .section-shell,
  .nav-wrap,
  .site-footer {
    width: min(100% - 28px, 1160px);
  }

  .hero {
    padding: 55px 0 75px;

    h1 {
      font-size: 3.5rem;
    }
  }

  .hero-visual {
    min-height: 390px;
  }

  .profile-frame {
    width: 280px;
  }

  .orbit-one {
    width: 340px;
    height: 340px;
  }

  .orbit-two {
    width: 280px;
    height: 390px;
  }

  .floating-tag {
    font-size: .57rem;
  }

  .tag-top {
    right: 3%;
  }

  .tag-bottom {
    left: 0;
  }

  .project-item {
    grid-template-columns: 40px 1fr;
  }

  .project-type {
    grid-column: 2;
    text-align: left;
  }

  .interest-strip {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-bottom: v.$space-xl;
  }

  .contact-card {
    border-radius: 12px 55px 12px 55px;
    padding: 35px 25px;
  }

  .site-footer {
    flex-direction: column;
  }
}